.form__inner {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 30px;
}

.form {
    width: 50vw;
}

/* タブレット：768px〜850px */
@media screen and (min-width: 768px) and (max-width: 850px) {
    /* タブレット用スタイル */
    .form {
        width: 80%;
    }
}

/* PC：1400px〜1540px */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    /* PC用スタイル */
    .form {
        width: 40vw;
    }
}

.profile-image,
.profile-name,
.profile-link {
    margin: 20px;
}
.profile-image {
    display: flex;
    align-items: center;
    gap: 50px;
}

.preview-image img,
.preview-image div {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}

.no-image {
    background-color: #999;
    color: #fff;
    font-weight: bold;
    align-content: center;
    text-align: center;
    object-fit: cover;
}

.btn-image {
    border: solid 1px #ff5900;
    border-radius: 5px;
    padding: 8px 30px;
    text-align: center;
    color: #ff5900;
    font-weight: bold;
}

.form__group {
    margin-bottom: 30px;
}

.form__label {
    display: block;
    margin-bottom: 5px;
}

.form__input {
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 48px;
    border: 1px solid #000;
    border-radius: 3px;
}
