.login-form__inner {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

/* 指定範囲外のスタイル */
.login-form__form {
    width: 50vw;
}

/* タブレット：768px〜850px */
@media screen and (min-width: 768px) and (max-width: 850px) {
    /* タブレット用スタイル */
    .login-form__form {
        width: 80%;
    }
}

/* PC：1400px〜1540px */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    /* PC用スタイル */
    .login-form__form {
        width: 40vw;
    }
}

.login-form__group {
    margin-bottom: 30px;
}

.login-form__label {
    display: block;
    margin-bottom: 5px;
}

.login-form__input {
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 48px;
    border: 1px solid #000;
    border-radius: 3px;
}

.login-form__error-message {
    color: #ff9494;
}

.login-form__btn {
    margin: 60px auto 0;
}

.content__link {
    margin-top: 30px;
    text-align: center;
}

.content__link a {
    text-decoration: none;
    color: #2184d2;
}
