html,
body {
    height: 100%;
}

body,
textarea,
input,
label {
    color: #000;
}

textarea::placeholder,
input::placeholder {
    color: #333;
}

.app {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

/* ヘッダー */
/* タブレットサイズ以外 */
.header {
    display: grid;
    align-items: center;
    padding: 16px 0;
    height: 80px;
    text-align: center;

    background-color: #000;

    border-color: #000;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    position: sticky;
    top: 0;
    z-index: 10;
}

.header__img {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.header__link {
    width: 80px;
    color: #fff;
    text-decoration: none;
}

.header__btn {
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
    border-radius: 2px;
    text-decoration: none;
}

.header__search {
    grid-column: 2;
}

.header__search input {
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
    border-radius: 2px;
    width: 100%;
}

.header__auth {
    grid-column: 3;
    display: flex;
    justify-content: end;
    gap: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .header {
        display: grid;
        align-items: center;
        padding: 16px 0;
        height: 80px;
        text-align: center;

        background-color: #000;

        border-color: #000;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;

        position: sticky;
        top: 0;
        z-index: 10;
    }

    .header__img {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 20px;
        margin-right: 20px;
        width: 180%;
        grid-column: 1/3;
    }

    .header__search {
        grid-column: 3/6;
    }

    .header__search input {
        padding: 10px 20px;
        color: #000;
        background-color: #fff;
        border-radius: 2px;
        width: 80%;
    }
    .header__auth {
        grid-column: 6/9;
        display: grid;
        justify-content: end;
        gap: 20px;
        padding-right: 20px;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .header__link {
        width: 95%;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }

    .header__btn {
        padding: 10px 20px;
        color: #000;
        background-color: #fff;
        border-radius: 2px;
        text-decoration: none;
    }
}
/* コンテンツ */
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.content__heading {
    margin-top: 32px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

/* タブ表示 */
.tabs {
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: flex-end;
    gap: 30px;
    padding-left: 10vw;
    position: sticky;
    top: 80px;
    z-index: 10;
    background-color: #fff;
}

.tab {
    padding: 10px 16px;
    color: #666;
    text-decoration: none;
    font-weight: bold;
}

.scroll-content {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
}

.tab.active {
    color: #ff5555;
}

/* ボタン */
.label {
    font-weight: bold;
}

.btn {
    display: block;
    padding: 8px 32px;
    width: 100%;
    border: none;
    color: #fff;
    background-color: #ff5555;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.btn-disabled {
    display: block;
    padding: 8px 32px;
    width: 100%;
    border: none;
    color: #fff;
    background-color: #666;
    font-size: 16px;
    cursor: default;
    text-align: center;
}

/* エラーメッセージ */
.error-message {
    height: 20px;
    color: #f00;
    text-align: left;
}

/* 画像カード */
/* タブレットサイズ以外 */
.product-card {
    margin: 20px;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card a {
    color: #000;
    text-decoration: none;
}

.product-card__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.product-card__sold {
    font-size: 18px;
    font-weight: bold;
    color: #ff5900;
}

/* デフォルトのリンク表示 */
a {
    text-decoration: none;
    color: #2184d2;
}

/* select */

.select-wrapper {
    position: relative;
    z-index: 10;
}

.select-wrapper select {
    padding: 8px 45px 8px 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
}

/* 疑似要素で三角を作る */
.select-wrapper::after {
    content: "▼";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
}
