.page {
    height: 100vh; /* 画面いっぱい */
    display: flex;
    flex-direction: column;
}

.list__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}
/* PC */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .list__cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* タブレット */
@media (min-width: 768px) and (max-width: 850px) {
    .list__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
