.address-form__inner {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.address-form__form {
    width: 40vw;
}

.address-form__group {
    margin-bottom: 30px;
}

.address-form__label {
    display: block;
    margin-bottom: 5px;
}

.address-form__input {
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 48px;
    border: 1px solid #000;
    border-radius: 3px;
}

.address-form__btn {
    margin: 60px auto 0;
}

/* タブレット：768px〜850px */
@media screen and (min-width: 768px) and (max-width: 850px) {
    /* タブレット用スタイル */
    .address-form__form {
        width: 80vw;
    }
}
