.page {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    align-items: center;
}

.content-info {
    display: flex;
    width: 100%;
    height: 100%;
}

.content-left {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #000;
}
.content-left img {
    width: 25%;
    margin-right: 50px;
}

.content-right {
    width: 30%;
    margin: auto;
    display: flex;
}

.product-info {
    display: flex;
    padding-bottom: 50px;
}

.price-box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid #000;
    margin-top: 0;
    margin-bottom: 0;
}

.price-box .row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    text-align: center;
}

.price-box .row:last-child {
    border-bottom: none;
}

.label {
    width: 50%;
}

.purchase-info {
    padding: 20px;
}

.purchase-info__header {
    display: flex;
    justify-content: space-between;
}

.purchase-info__body {
    margin-top: 10px;
}

.select-wrapper {
    border: 1px solid #999;
    border-radius: 3px;
}

/* タブレット：768px〜850px */
@media screen and (min-width: 768px) and (max-width: 850px) {
    /* タブレット用スタイル */
    .content-info {
        display: block;
    }

    .content-left {
        border-bottom: none;
    }

    .content-right {
        width: 60%;
    }
}
